<footer class="jumbotron mb-0 page-footer ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Our Duty</h6>
              <p class="animated zoomIn">
                Since 1890, Dressed in white outfit and
                traditional Gandhi Cap, Mumbai Army of
                5,000 Dabbawalas fulfilling the hunger
                of almost 200,000 Mumbaikar with
                home-cooked food that is lug
                between home and office daily.</p>
        </div>
        <div class="col-md-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Quick Links</h6>
              <p>
                <a routerLink="/home" class="dropdown-item animated zoomIn">Home</a>
              </p>
              <p>
                <a routerLink="/about-us" class="dropdown-item animated zoomIn">About Us</a>
              </p>
              <p>
                <a routerLink="/certificates" class="dropdown-item animated zoomIn">Our Achievement</a>
              </p>
              <p>
                <a class="nav-link dropdown-item animated zoomIn" href="#" data-toggle="modal" data-target="#exampleModal" data-toggle="modal" data-target="#exampleModal" style="color: black;">Donate Us<span class="sr-only"></span></a>
              </p>
        </div>
        <div class="col-md-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a routerLink="/dabbawala-login" class="dropdown-item animated zoomIn">Job Application</a>
          </p>
          <p>
            <a routerLink="/ted-talks" class="dropdown-item animated zoomIn">Our Seminars</a>
          </p>
          <p>
            <a routerLink="/images-and-videos" class="dropdown-item animated zoomIn">Video Gallery</a>
          </p>
        </div>
        <div class="col-md-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <ul>
                <li>
                  <i class="fa fa-map-marker" class="animated zoomIn">Address</i>
                  <div>
                    <p class="animated zoomIn">
                    23,Navyog Mension,Sleater Road,<br>
                    Naushir Bharucha Marg,
                    <br>Opposite Krishna Palace Hotel,<br>
                    Grant Road, Mumbai – 400007
                    </p>
                  </div>
                </li>
                <li>
                  <i class="fa fa-phone" class="animated zoomIn">Phone</i>
                  <div>
                    <p class="just" class="animated zoomIn">
                      (+91) 9870419916
                    </p>
                  </div>
                </li>
                <li>
                  <i class="fa fa-envelope" class="animated zoomIn"></i>
                  <div>
                    <p class="just" class="animated zoomIn">
                      Info@Mumbaidabbawala.In
                    </p>
                  </div>
                </li>
              </ul>
        </div>
      </div>
      <div class="bottom-bar dark-bg text-center">

        <div class="container" class="animated zoomIn">

            <p itemprop="description">© 2019 <a class="red-clr" href="https://mumbaidabbawala.in">Mumbai Dabbawala</a>. All Rights Reserved</p>

        </div>

       </div>
      <hr>
    </div>
</footer>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Us At</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group col-lg-12">
            <label class="label002" style="color: black;">
              Bank Name:
              <b>Dena Bank</b>
            </label>
          </div>
          <div class="form-group col-lg-12">
            <label class="label002" style="color: black;">
              Account Name:
              <b>Nutan Mumbai Tiffin Box Suppliers Charity Trust</b>
            </label>
          </div>
          <div class="form-group col-lg-12">
            <label class="label002" style="color: black;">
              Account Number:
              <b>001010001442</b>
            </label>
          </div>
          <div class="form-group col-lg-12">
            <label class="label002" style="color: black;">
              IFSC Code:
              <b>BKDN0450010</b>
            </label>
          </div>
          <div class="form-group col-lg-12">
            <label class="label002" style="color: black;">
              MICR Code :
              <b>400018028</b>
            </label>
          </div>
          <div class="form-group col-lg-12">
            <label class="label002" style="color: black;">
              Pan Card No :
              <b>AABTN2128P</b>
            </label>
          </div>
          <hr>
          <div class="form-group col-lg-12">
            <label class="label002" style="color: black;">
              Donate on Paytm on:
              <b>xxxxxxxxxx</b>
            </label>
          </div>
          <div class="form-group col-lg-12">
            <label class="label002" style="color: black;">
              Donate on Google Pay on:
              <b>yyyyyyyyy</b>
            </label>
          </div>
          <div class="form-group col-lg-12">
            <label class="label002" style="color: black;">
              Contact on <b>aaaaaaaaa</b> for more details:
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


