
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
.navbar-brand{
    text-align: center;
    font-family: 'Spicy Rice', cursive;
    color: crimson;
    font-size: 1.5rem;
}
