  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand"><i>Mumbai Tiffinvala</i></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav">
          <a class="nav-link active" routerLink="/home"><strong>Home</strong><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item nav">
          <a class="nav-link" routerLink="/about-us"><strong>About Us</strong><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown nav">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>Our Services</strong>
          </a>
          <div class="dropdown-menu drop-down-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item animated zoomIn" routerLink = "dabba-service"><strong>Dabba Service</strong></a>
            <a class="dropdown-item animated zoomIn" routerLink = "ted-talks"><strong>Lectures/Seminars and Ted Talks</strong></a>
            <a class="dropdown-item animated zoomIn" routerLink = "digital-dabbawala" ><strong>Digital Dabbawala</strong></a>
            <!-- <a class="dropdown-item animated zoomIn" href="#"><strong>Advertise with us</strong></a> -->
            <a class="dropdown-item animated zoomIn" routerLink = "centralised-kitchen"><strong>Centralised Kitchen</strong></a>
          </div>
        </li>
        <!-- <li class="nav-item  nav">
          <a class="nav-link" href="#"><strong>Our Work</strong><span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item nav">
          <a class="nav-link" routerLink="certificates"id="navbarDropdown" role="button">
            <strong>Certification and Licensing</strong>
          </a>
          <!-- <div class="dropdown-menu drop-down-menu" aria-labelledby="navbarDropdown"> -->
            <!-- <a class="dropdown-item animated zoomIn" href="#"><strong>Graduate Hires</strong></a> -->
            <!-- <a class="dropdown-item animated zoomIn" ><strong>Certification and Licensing</strong></a> -->
            <!-- <a class="dropdown-item animated zoomIn" href="#"><strong>Start up initiation</strong></a> -->
            <!-- <a class="dropdown-item animated zoomIn" href="#"><strong>Training</strong></a> -->
          <!-- </div> -->
        </li>
        <li class="nav-item nav">
          <a class="nav-link" routerLink="images-and-videos" role="button">
            <strong>Media</strong>
          </a>
          <!-- <div class="dropdown-menu drop-down-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item animated zoomIn" ><strong>Image and Video Gallery</strong></a>
          </div> -->
        </li>
        <li class="nav-item nav">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal" data-toggle="modal" data-target="#exampleModal"><strong>Donate Us</strong><span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <li class="nav-item dropdown nav text-white pr-5">
        <a class="nav-link dropdown-toggle nav-item" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong>Apply Now</strong>
        </a>
        <div class="dropdown-menu drop-down-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item animated zoomIn" routerLink="user-login"><strong>Customer Application</strong></a>
          <a class="dropdown-item animated zoomIn" routerLink="dabbawala-login"><strong>Job Application</strong></a>
          <a class="dropdown-item animated zoomIn" routerLink="login"><strong>Login</strong></a>
        </div>
      </li>
    </div>
  </nav>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Donate Us On</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group col-lg-12">
              <label class="label002" style="color: black;">
                Bank Name:
                <b>Dena Bank</b>
              </label>
            </div>
            <div class="form-group col-lg-12">
              <label class="label002" style="color: black;">
                Account Name:
                <b>Nutan Mumbai Tiffin Box Suppliers Charity Trust</b>
              </label>
            </div>
            <div class="form-group col-lg-12">
              <label class="label002" style="color: black;">
                Account Number:
                <b>001010001442</b>
              </label>
            </div>
            <div class="form-group col-lg-12">
              <label class="label002" style="color: black;">
                IFSC Code:
                <b>BKDN0450010</b>
              </label>
            </div>
            <div class="form-group col-lg-12">
              <label class="label002" style="color: black;">
                MICR Code :
                <b>400018028</b>
              </label>
            </div>
            <div class="form-group col-lg-12">
              <label class="label002" style="color: black;">
                Pan Card No :
                <b>AABTN2128P</b>
              </label>
            </div>
            <hr>
            <div class="form-group col-lg-12">
              <label class="label002" style="color: black;">
                Donate on Paytm on:
                <b>xxxxxxxxxx</b>
              </label>
            </div>
            <div class="form-group col-lg-12">
              <label class="label002" style="color: black;">
                Donate on Google Pay on:
                <b>yyyyyyyyy</b>
              </label>
            </div>
            <div class="form-group col-lg-12">
              <label class="label002" style="color: black;">
                Contact on <b>aaaaaaaaa</b> for more details:
              </label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
