    <div class=" mt-5 pt-5" style="text-align: center;">
        <strong>
            <p>
                No worries if you are not from Mumbai, No worries if there is no one at your house to cook food for you. We have the solution for all food related 
                <br>issues because we love foodies, moreover we love vegetarians!
            </p>
        </strong>
    </div>
    <div style="text-align: center;">
        <strong>
            <p>
                We provide healthy home cooked food straight away from our kitchen to your table which would be appealing to your eye & to the palette too. Be it Dal 
                <br>or be it a gravy, our food is prepared under hygienic conditions using refined oil which best takes care of your heart, because for us your little heart is 
                <br>utmost important.
            </p>
        </strong>
    </div>
    <div style="text-align: center;">
        <strong>
            <p>
                So the struggle for healthy food gets over, Contact us for wide variety of options!
            </p>
        </strong>
    </div>
    <div class="text-center mb-5">
        <a href="#" class="btn btn-outline-info navbar-brand">Inquiry</a>
    </div>
    <!-- Now only a modal need to be made for forms -->