<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centralised-Kitchen</title>
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Centralised-Kitchen</li>
        </ol>
    </nav>
    <div style="text-align: center;">
        <strong>
            <p>
                No worries if you are not from Mumbai, No worries if there is no one at your house to cook food for you. We have the solution for all food related 
                <br>issues because we love foodies, moreover we love vegetarians!
            </p>
        </strong>
    </div>
    <div style="text-align: center;">
        <strong>
            <p>
                We provide healthy home cooked food straight away from our kitchen to your table which would be appealing to your eye & to the palette too. Be it Dal 
                <br>or be it a gravy, our food is prepared under hygienic conditions using refined oil which best takes care of your heart, because for us your little heart is 
                <br>utmost important.
            </p>
        </strong>
    </div>
    <div style="text-align: center;">
        <strong>
            <p>
                So the struggle for healthy food gets over, Contact us for wide variety of options!
            </p>
        </strong>
    </div>
    <div class="text-center">
        <a href="#" class="btn btn-outline-info navbar-brand">Inquiry</a>
    </div>
    <!-- Now only a modal need to be made for forms -->
</body>
</html>