<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Dabbawala</title>
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Digital Dabbawala</li>
        </ol>
    </nav>
    <div class="just">
        <p>
            <strong>
                Digital Dabbawala is an initiative to combine technology, government’s e-initiatives and doorstep service through trusted Dabbawalas,to give you a<br>
                hassle-free experience.We have started with rental agreement registration and have made it extremely easy and convenient,with low & transparent<br>
                charges!<br>
            </strong>
        </p>
    </div>
    <div class="just">
        <p>
            <strong>
                We are famous across the world for our reliability. We are six sigma certified. There are currently over 5,000 Dabbawalas working tirelessly in Mumbai<br>
                delivering over 200,000 lunch boxes each day. With Digital Dabbawala we expand our delivery from just dabbas to last mile delivery of Digital Services.<br>
            </strong>
        </p>
    </div>
    <div class="just">
        <h1 class="display-4">
                How does it all work<br>
        </h1>
        <p>
            <u style="background-color: yellow;">OUR 3-STEP PROCESS GETS YOUR REGISTRATION DONE IN A JIFFY</u>
        </p>
    </div>
    <div>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <img src="../../assets/st1.png" class="center dropdown-item animated zoomIn" style="height: 270px; width: 310px;" >
                <div class="back">
                    <p>
                        <br>
                        Log into mumbaidabbawala.in and give us basic<br>
                        details from any web enabled device like a smart<br>
                        phone or a PC. Alternatively you can also CALL us<br>
                        or EMAIL us, and we’ll get you started!
                    </p>
                </div>
              </div>
              <div class="col-sm">
                <img src="../../assets/st2.png" class="center dropdown-item animated zoomIn" style="height: 270px; width: 310px;">
                <div class="back">
                    <p>
                        <br>
                        We give you a call and ask any extra details that<br>
                        we might need. We send a soft copy of the<br>
                        agreement for your approval and make changes<br>
                        if any.The Agreement is then finalized.
                    </p>
                </div>
              </div>
              <div class="col-sm">
                <img src="../../assets/st3.png" class="center dropdown-item animated zoomIn" style="height: 270px; width: 310px;">
                <div class="back">
                    <p>
                        <br>
                        A dabbawala will come with a laptop, biometric<br>
                        device and register your agreement through<br>
                        Aadhar Validation. You will receive the agreement<br>
                        in the following days.
                    </p>
                </div>
              </div>
            </div>
          </div>
    </div>
</body>
</html>