<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Data</title>
</head>
<body>
    <table>
        <tr *ngIf="custData;">
            <th>CustomerId</th>
            <th>CustomerId</th>
            <th>CustomerId</th>
            <th>CustomerId</th>
            <th>CustomerId</th>
            <th>CustomerId</th>
            <th>CustomerId</th>
            <th>CustomerId</th>
        </tr>
        <tr *ngFor="let d of custData;">
            <td>{{d.customer_id}}</td>
            <td>{{d.flat_no}}</td>
            <td>{{d.resi_name}}</td>
            <td>{{d.landmark}}</td>
            <td>{{d.nearby_rlw_stat}}</td>
            <td>{{d.area}}</td>
            <td>{{d.city}}</td>
            <td>{{d.pincode}}</td>
        </tr>
    </table>
</body>
</html>