/* .nav{
    margin-left: 10px;
    font-size: 17px;
}

.drop-down-menu{
    background-color: white;
    border: 1px solid red;
    padding: 10px;
}

a:hover{
    background-color: green;
    color: white;
    border-radius: 20px;
}

h1{
    text-align: center;
    margin-top: 5px;
    
}

.align-text{
    text-align: justify;
    font-size: 17px;
}

.top{
    // margin-top: 15px; 
}

.just{
    text-align: justify;
    text-justify: inter-word;
}

.backcolor{
    background-color: aliceblue;
} */
