@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
button, .display-4{
  font-family: 'Spicy Rice', cursive;
}
label{
  font-family: 'Spicy Rice', cursive;
  font-size: large;
}
