<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificates</title>
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Certificates</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="../../assets/cert1.jpg">
          </div>
          <div class="col-sm">
            <img src="../../assets/cert2.jpg">
          </div>
          <div class="col-sm">
            <img src="../../assets/cert3.jpg">
          </div>
        </div>
      </div>
</body>
</html>